body{
    margin: 0;
}
h1,h2{
    text-align: center;
    color: blue;
    font-size: 24px;
}

p{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    transition: all .3s ease-out;
    transform: translate(-50%, -50%) rotate(0deg);
}

.cat-kitten-baby{
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
    margin-top: 300px;
    background-size: 200px 50px;
    transition: all .3s ease-out;
    filter: blur(0px);
    cursor: pointer;
}


.cat-kitten-baby:hover{
    filter: blur(1000px);
} 



.cat-kitten1{
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    transition: all .3s ease-out;
    
    /* translate: -50% -50%; */
    transform: translate(-50%, -50%) rotate(0deg);
    

}
.cat-kitten1:hover{
    filter: blur(3px)
    grayscale(100%);
    transform:
    translate(-50%, -50%)
     rotate(90deg)
    scale(0.5)
    /* scale(1, -1) */
     /* scale(1.5)      */
    /* skew(30deg, 30deg)*/; 
    /* transform-origin: left top; */
    cursor: pointer;

}

.cat-kitten2{
    
    object-fit: contain;
    max-width: 50%;
    max-height: 50%;
    margin-top: 250px;
    background-size: 200px 50px;
    transition: all .3s ease-out;
}