html, body {
    position: relative;
    height: 4759px;
    width: 100%;
    left: 0px;
    top: 0px;
    /* border: 1px solid green; */
    /* border-radius: 50px; */
    overflow-x: hidden;
    overflow-y: auto;
    
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px;

}
/* -------header.header---------- */
header.header{
    margin: 0px;
    width: 100%;
    height: 768px;
    background-color: yellowgreen;
}

nav.nav{
    width: 940.6px;
    height: 87.94px;
    /* background-color: rgb(204, 190, 218); */
    margin: 0 auto;
    border-bottom: 1px solid rgba(130, 130, 130, 1)
}
a{
    text-decoration: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
a.nav{
    color: #070707;
}

/* Текст по центру */
li.nav__item{
    transition: 1s; /* Время эффекта */
    text-align: center; 
}
li.nav__item:hover {
    transform: scale(1.5); /* Увеличиваем масштаб */
}



ul.nav__list{
    margin: 0 0;
    padding: 33.05px 0 0 ;
    text-align: justify;
    text-decoration: none;
}
ul.nav__list:before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
}
 ul.nav__list:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

li.nav__item{
    height: 23.03px;
    /* background-color: yellow; */
    display: inline-block;
    position: relative;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
    color: rgba(130, 130, 130, 1);

}

/* --------fase------------------------------------------ */
section.fase{
    width: 100%;
    height: 679.06px;
}
div.fase{
    /* display: inline-block; */
    width: 943.61px;
    height: 679.06px;
    margin: 0 auto;
    background-color: #4676d7;
}
img.fase{    
    position: relative;
    height: 387px;
    padding: 0 0;
    margin: 0 0;
}
h1.fase{
    /* position: absolute; */
    height: 118.17px;
    width: 123.51px;
    /* left: 251.04px;
    top: 128.13px;     */
    position: relative;
    margin: 0px 0;
    padding: 39.69px 0 30.64px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
 
}
p.fase__des{
    /* position: absolute; */
    position: relative;
    height: 44.06px;
    width: 155.65px;
    /* left: 671.79px; */
    /* top: 183.21px; */
    margin: 0;
    padding: 0;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    list-style: none;

}
div.fase__lang {
    display: inline-block ;
    position: absolute;
    height: 65px;
    width: auto;
    left: 1174.25px;
    top: 154.94px;
    transform: rotate(-90deg);
    /* background-color: red; */
 } 

 a.fase__lang_ru{
    margin: 0 -5px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* background-color: green; */
    color:rgba(130, 130, 130, 1); 
 }
 a.fase__lang{
    margin-left: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* background-color: blue; */
    color: rgba(0, 0, 0, 1); 
 }

 
/* --------------------main--------------------- */
/* ------------about---------------- */
section.about{
    width: 1445px;
    height: 506px;
    left: 0px;
    top: 768px;
    background: #F6F6F6;
}
div.about {
    position: absolute;
    width: 1445px;
    height: 506px;    
    background-color: tomato;  
}
h2.about__about {
    position: absolute;
    height: 43.06px;
    width: 155.65px;
    left: 645.68px;
    top: 120.25px;
    margin: 0;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: #070707;

}

ul.about__list {
    position: absolute;
    width: 485.34px;
    height: 218px;
    left: 480.33px;
    top: 181px; 
    list-style: none;
    margin: 0;
    padding: 0;
    

}
li.about__text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    /* margin: 22px 0; */
    color: #070707;
}
li.about__text_one{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 36px 0;
    color: #070707;
}

/* ------skills------------------ */
section.skills{
    width: 100%;
    height: auto;
    background-color: gold;
}
div.skills{
    width: 1445px;
    height: 610px;
    /* background-color: gold; */
}

h2.skills{
    position: absolute;
    height: 26.038330078125px;
    width: 124.51679992675781px;
    left: 661.74658203125px;
    top: 1365.00390625px;
    border-radius: nullpx;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: #070707;

}
p.skills{
    position: absolute;
    height: 24.03515625px;
    width: 227.94606018066406px;
    left: 609.529296875px;
    top: 1460.14453125px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #070707;

}
img.skills__PS{
    position: absolute;
    width: 166.46px;
    height: 206.29px;
    left: 255.71px;
    top: 1566.65px;
}
img.skills__Ai{
    position: absolute;
    width: 166.46px;
    height: 206.27px;
    left: 512.42px;
    top: 1567.67px;
}
img.skills__Ae{
    position: absolute;
    width: 166.46px;
    height: 206.27px;
    left: 769.13px;
    top: 1567.67px;
}
img.skills__Figma{
    position: absolute;
    width: 166.46px;
    height: 205.27px;
    left: 1025.84px;
    top: 1567.67px;
}

/* ------portfolio------------------ */
section.portfolio{
    width: 1445px;
    height: 2253px;
    background: #F6F6F6;
 

}
div.portfolio{
    display: inline-block;
    position: absolute;
    width: 1445px;
    height: 2253px;
    left: 0px;
    top: 1884px;


    background: #F6F6F6;
    /* background-color:rgb(59, 43, 133);   */
}
h2.portfolio{
    position: absolute;
    height: 43.063232421875px;
    width: 132.55015563964844px;
    left: 659.16552734375px;
    top: 112.93px;
    border-radius: nullpx;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;

    color: #070707;

}
img.portfolio{
    position: absolute;
    width: 936.24px;
    height: 510px;
    left: 257.71px;
    top: 203px;
}
a.portfolio{
    position: absolute;
    height: 22.032470703125px;
    width: 276.1461181640625px;
    left: 589.4462890625px;
    top: 757.88px;
    /* border-radius: nullpx; */
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

    color: #070707;    
}
a.portfolio { 
    box-shadow: 
    inset 0 0 0 0 #54b3d6; 
    margin: 0 -.25rem; 
    padding: 0 .25rem; 
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out; 
} 
a.portfolio:hover { 
    box-shadow: inset 300px 0 0 0 #54b3d6; 
    color: white; 
}

/* ------Reebok------------------ */
img.Reebok{
    position: absolute;
    width: 936.24px;
    height: 522px;
    left: 256.89px;
    top: 879px;
}
a.Reebok{
    position: absolute;
    height: 22.032470703125px;
    width: 202.84188842773438px;
    left: 626.6005859375px;
    top: 1445.89px;
    border-radius: nullpx;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

    color: #070707;
}
a.Reebok {
    padding: 10px; /* Поля вокруг текста */
    transition: 1s linear; /* Время изменения */
}
a.Reebok:hover {
    color: #fff; /* Цвет текста */
    background: #f66d52; /* Цвет фона */
}

/* ------Braun------------------ */
img.Braun{
    position: absolute;
    width: 936.24px;
    height: 522px;
    left: 252.7px;
    top: 1567px;
}
a.Braun{
    position: absolute;
    height: 22.032470703125px;
    width: 259.0751953125px;
    left: 598.48388671875px;
    top: 2134.9px;
    border-radius: nullpx;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

    color: #070707;

}
a.Braun {
    color: inherit;
    text-decoration: none;
}
  
a.Braun {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
  
a.Braun:hover {
    background-size: 0 3px, 100% 3px;
}


/* ------footer------------------------------------------------------ */
footer.footer{
    margin-top: 4137px;
}
div.footer{
    width: 100%;
    height: 640.8px;
    text-align: center;
    margin-top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 1);
    background-color: red;
        
}
h2.footer{
    padding-top: 114.24px;
    margin: 0px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

h3.footer{
    margin-top: 20.03px;
    margin-bottom: 0px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}


form.footer{
    margin-top: 29.6px;
}
input.footer{
    /* display: flex; */
    border: 0px;
    padding: 0px;
    /* position: absolute; */
    height: 42px;
    width: 180.5px;
    /* left: 634.76px;
    top: 251px; */
    border-radius: 50px;
    background-color:  black;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);

}
input.footer:hover{
    background: transparent;
    color: #222;
    border-color: #4676d7;
}

/* -----ul li по центру */
.footer{
    width: 100%;
}
.footer ul{
    list-style: none;
    text-align: center;
    padding: 0px;
}
.footer li{
    display: inline-block;
    padding: 10px 10px;
}
ul.ico{
    margin-top: 85.78px;
    margin-bottom: 0;
} */

/* УВЕЛИЧЕНИЕ КАРТИНКИ ПРИ НАВЕДЕНИИ CSS (HOVER) */
 .ico__linkedIn {
    display: inline-block;
    overflow: hidden;
}
.ico__linkedIn img{
    transition: 1s;
    display: block;
}
.ico__linkedIn img:hover{
    transform: scale(1.5);
    background-color: royalblue;
}
/* --------------- */
.ico__behance{
    display: inline-block;
    overflow: hidden;
}
.ico__behance img{
    transition: 1s;
    display: block;
}
.ico__behance img:hover{
    transform: scale(1.5);
    background-color: yellow;
}

/* -КРАСИВОЕ ВРАЩЕНИЕ КАРТИНКИ ПРИ НАВЕДЕНИИ CSS-------------- */
.ico__instagram{
    width: 40px; 
    height: 40px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ico__instagram:hover{
    border-radius: 50%;
    background-color: green;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);           
}
/* --------------- */
.ico__dribbble{
    width: 40px; 
    height: 40px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.ico__dribbble:hover{
    border-radius: 50%;
    background-color: blue;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);           
}

p.footer{
    margin-top: 45.06px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}




